@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

.arimo {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.arimo-bold {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}